# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
/assets/videos/1-LEE-SCRATCH-PERRY.mp4
/assets/videos/2-RASPBERRY-TEA.mp4
/assets/videos/3-PARANOIA.mp4
/assets/videos/4-ASTRAL-PLANES.mp4
/broadcast/
/assets/videos/1-LEE-SCRATCH-PERRY.mov
/assets/videos/2-RASPBERRY-TEA.mov
/assets/videos/3-PARANOIA.mov
/assets/videos/4-ASTRAL-PLANES.mov
